<!DOCTYPE html>
<html>
  <body>
    <div style="align-self: center; margin: 50px; width: 500px; padding: 50px; font-family: Arial, Helvetica, sans-serif;">
      <table style="border: solid 20px #fff">
        <tr>
          <td style="border: solid 10px #fff; background-color: #fff;"></td>
        </tr>
        <tr>
          <td style="border: solid 10px #e66; background-color: #e66;"> 
            <h2 style="text-align: center; background-color: #e66; padding: 20px 50px; color: #fff;">Alerts triggered for user: {{username}}</h2>
          </td>
        </tr>
        <tr>
          <td style="border: solid 10px #fff; background-color: #fff;"></td>
        </tr>
        {% for line in content %}
        <tr>
          <td>{{ line }}</td>
        </tr>
        {% endfor %}
        <tr>
          <td style="border: solid 10px #fff; background-color: #fff;"></td>
        </tr>
        <tr>
          <td>[This was an automated message, for any specific questions contact your platform administrator]</td>
        </tr>
        <tr>
          <td style="border: solid 10px #fff; background-color: #fff;"></td>
        </tr>
      </table>
    </div>
  </body>
</html>